@{
    ViewData["Title"] = "Home";
}
<div class="indexStyle">
    <div class="d-flex justify-content-center align-items-center text-white fw-bold" style="height:100%">
        <div class="text-center" style="z-index:100">
            <h1 class="display-4 fw-bold">Welcome To Library TPS</h1>
            <p class="fs-4">You can see All shelves <br /><a asp-controller="Home" asp-action="shelf" class="btn mt-2 btn-lg btn-primary">View All shelves</a></p>
        </div>
    </div>
</div>

